<div class="col-lg-12">
  <div class="card rounded-0 mt-5 mb-5">
    <div class="card-body">
      <!-- <h2>Train Details</h2> -->
      <div class="row">
         <div class="col-lg-12">
           <h5 class="text-center mt-2 mb-5" style="color:royalblue;">Name:<%= @train.name %></h5>
         </div>
         <div class="col-lg-6">
           <h5>Source Station:</h5>
           <p><%= @train.source_station %></p>
         </div>
         <div class="col-lg-6">
           <h5>Destination:</h5>
           <p><%= @train.last_station %></p>
         </div>
         <div class="col-lg-6">
           <h5>Starting From:</h5>
           <p><%= @train.start_time %></p>
         </div>
         <div class="col-lg-6">
           <h5>To:</h5>
           <p><%= @train.end_time %></p>
         </div>
      </div>
    </div>
  </div>
  <%= link_to 'Back', trains_path, class: "btn btn-success btn-lg" %>
  <%= link_to 'Edit', edit_train_path(@train), class: "btn btn-primary btn-lg" %>
</div>