<div class="col-lg-12">
  <%= form_with model: train_station, html: { data: { turbo: false } } do |form| %>

  <div class= "form-group mt-2">
    <%= form.label :train_id, "Train:", class: "col-md-4 control-label" %><br>
    <div class="col-lg-6">
      <%= form.select :train_id, options_for_select(Train.pluck(:name, :id), selected: train_station.train_id), {prompt: 'Select Train'}, { class: 'form-select form-select-lg rounded-0'}%>
      <% train_station.errors.full_messages_for(:train_id).each do |message| %>
      <p class="text-danger"><%= message %></p>
      <% end %>
    </div>
  </div>

  <div class= "form-group mt-2">
    <%= form.label :station_id, "Station:", class: "col-md-4 control-label" %><br>
    <div class="col-lg-6">
      <%= form.select :station_id, options_for_select(Station.pluck(:name, :id), selected: train_station.station_id), {prompt: 'Select Station'}, { class: 'form-select form-select-lg rounded-0'}%>
      <% train_station.errors.full_messages_for(:station_id).each do |message| %>
      <p class="text-danger"><%= message %></p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class= "form-group mt-2">
        <%= form.label :day, "Day:", class: "col-md-4 control-label" %><br>
        <div class="col-md-8">
          <%= form.number_field :day, class: "form-control" %>
          <% train_station.errors.full_messages_for(:day).each do |message| %>
          <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>
    </div>
    

    <div class="col-lg-6">
      <div class= "form-group mt-2">
        <%= form.label :distance_in_km, "Distance(kms)", class: "col-md-4 control-label" %><br>
        <div class="col-md-8">
          <%= form.number_field :distance_in_km, class: "form-control" %>
          <% train_station.errors.full_messages_for(:distance_in_km).each do |message| %>
          <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <div class= "form-group mt-2">
        <%= form.label :arrival_time, "Arrival Time:", class: "col-md-4 control-label" %><br>
        <div class="col-md-8">
          <%= form.time_field :arrival_time, class: "form-control" %>
          <% train_station.errors.full_messages_for(:arrival_time).each do |message| %>
          <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col-lg-6">
      <div class= "form-group mt-2">
        <%= form.label :departure_time, "Departure:", class: "col-md-4 control-label" %><br>
        <div class="col-md-8">
          <%= form.time_field :departure_time, class: "form-control" %>
          <% train_station.errors.full_messages_for(:departure_time).each do |message| %>
          <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>
    </div> 
  </div>


    <div class="col-lg-6">
      <div class= "form-group mt-2">
        <%= form.label :total_halt_in_minutes, "Halt:", class: "col-md-4 control-label" %><br>
        <div class="col-md-8">
          <%= form.time_field :total_halt_in_minutes, class: "form-control" %>
          <% train_station.errors.full_messages_for(:total_halt_in_minutes).each do |message| %>
          <p class="text-danger"><%= message %></p>
          <% end %>
        </div>
      </div>
    </div> 
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="form-group mt-3">
        <%= form.submit class: "btn btn-primary btn-lg rounded" %>
      </div>
    </div>
  </div>

  <% end %>
</div>